<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>普通用户-校园报修系统</title>

    <link href="/layui/css/layui.css" rel="stylesheet"/>

</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">

    <div th:include="common/user_header :: header"></div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree">

                <li class="layui-nav-item ">
                    <a class="" href="javascript:;">报修管理</a>
                    <dl class="layui-nav-child">
                        <dd class="layui-this"><a href="/user/repairRecord">&emsp;&emsp;报修记录</a></dd>
                        <dd><a href="/user/addRepairPage">&emsp;&emsp;报修申报</a></dd>
                        <dd><a href="/user/showRemindersPage">&emsp;&emsp;催单记录</a></dd>
                        <dd><a href="/user/remindersPage">&emsp;&emsp;催单</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="/user/infoPage">个人信息</a></li>
            </ul>
        </div>
    </div>

    <div class="layui-body layui-container">

        <hr class="layui-bg-blue">
        <h2 style="text-align:center">报 修 记 录</h2>
        <hr class="layui-bg-blue">

        <table class="layui-table" lay-size="sm">
            <thead>
            <tr>
                <th>编号</th>
                <th>问题详情</th>
                <th>报修地点</th>
                <th>提交时间</th>
                <th>状态</th>
                <th>现场照片</th>
                <th>操作(只能编辑和删除未分配的报修记录)</th>
            </tr>
            </thead>
            <tr th:each="repair:${page.getRecords()}">
                <td><label th:text="${repair.getId()}"></label></td>
                <td><label th:text="${repair.getDetail()}"></label></td>
                <td><label th:text="${repair.getPlace()}"></label></td>
                <td><label th:text="${#dates.format(repair.getSubmitTime(),'yyyy-MM-dd HH:mm:ss')}"></label></td>
                <td><label th:text="${repair.getStatusName()}" th:value="${repair.getStatus()}"></label></td>
                <td><label>
                    <img th:src="${repair.getPictureUrl()}">
                </label></td>
                <td>
                    <button class="layui-btn layui-btn-sm layui-btn-danger del_btn" th:value="${repair.getId()}">删除
                    </button>
                    <a th:href="@{/user/updateRepairPage(repairId=${repair.getId()})}">
                        <button type="button" class="layui-btn layui-btn-sm layui-btn-normal">编辑
                        </button>
                    </a>

                </td>
            </tr>

            <tr>
                <td colspan="7">
                    <div style="margin: auto; width: 160px;">

                        <a id="prePage" th:href="@{/user/repairRecord(pageNum=${page.getCurrent()-1})}" th:if="${page.getCurrent()!=1}">
                            <button class="layui-btn layui-btn-sm">上一页</button>
                        </a>
                        <label id="lab1" th:text="${page.getCurrent()}"></label>

                        <span>/</span>

                        <label id="lab2" th:text="${page.getPages()}"></label>

                        <a id="nextPage" th:href="@{/user/repairRecord(pageNum=${page.getCurrent()+1})}" th:if="${page.getCurrent()<page.getPages()}">
                            <button class="layui-btn layui-btn-sm">下一页</button>
                        </a>
                    </div>

                </td>
            </tr>

        </table>
    </div>


    <div th:include="common/footer :: footer"></div>

</div>

<script src="/js/jquery.min.js"></script>
<script src="/layui/layui.js"></script>
<script src="/js/user/repairRecord.js"></script>
<script>
    function formatDate(date) {
        var year = date.getFullYear();
        var month = (date.getMonth() + 1).toString().padStart(2, '0');
        var day = date.getDate().toString().padStart(2, '0');
        var hours = date.getHours().toString().padStart(2, '0');
        var minutes = date.getMinutes().toString().padStart(2, '0');
        var seconds = date.getSeconds().toString().padStart(2, '0');
        return `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;
    }
</script>
</body>
</html>
